@page
@model StudentApp.Pages.Students.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.StudentName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.StudentName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.StudentCity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.StudentCity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.Course)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.Course.CourseId)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" class="link-danger" asp-route-id="@Model.Student?.StudentId">Edit</a> |
    <a asp-page="./Index" class="link-danger">Back to List</a>
</div>
