@page
@model StudentApp.Pages.Students.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-danger pt-5 pb-3">Add New Student Info</h1>

<p>
    <a asp-page="Create" class="btn btn-danger mb-5">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Student[0].StudentName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student[0].StudentCity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student[0].Course)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Student) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StudentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudentCity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Course.CourseId)
            </td>
            <td>
                    <a asp-page="./Edit" class="link-danger" asp-route-id="@item.StudentId">Edit</a> |
                    <a asp-page="./Details" class="link-danger" asp-route-id="@item.StudentId">Details</a> |
                    <a asp-page="./Delete" class="link-danger" asp-route-id="@item.StudentId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
